.home{
    padding: 50px 50px;
 background-color: #ff6a64;
}
.cardcover{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* padding: 0px 100px; */
    /* justify-content: center;
     */
     align-items: center;
     /* background-color: blue; */
}
.card{
        

    background-color: #d9d9d9;
    border-radius: 1rem;
width: 40%;
height: 230px;
padding: 15px 15px;
/* color: red; */
}
.name{
/* border: 1px solid red; */
font-size: smaller;
color: gray;
}
.tags{
    font-size:medium;
    font-weight: 300;
    font-style: italic;
}
.link{
    text-decoration: none;
    border:1px solid black;
    padding: 3px 3px;
    color: black;
}