.display{
    /* display: flex;
    flex-direction: column; */
    width: 70%;
    /* border: 1px solid red; */
    padding: 15px 15px;
    background-color: #d9d9d9;
    border-radius: 1rem;
}
.pd{
    display: flex;
    padding: 50px 200px;
    /* border: 1px solid red; */
    gap: 50px;
    background-color: #ff6a64;
    height: 100vh;
}
.dat{
    font-size: smaller;
color: gray;
}
.side{
    display: flex;
    flex-direction: column;
    gap: 0px;
    text-align: center;
}
.like{
    background-color: none;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
